<%- include('./template/cabecera', {titulow:'Detalle Cliente'}); %>

    <h1 align="center">Detalle Producto</h1>

    <div class="container">
        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
            <a href="/productos" class="btn btn-dark btn-block">Volver a prodcutos</a>
            <% } %>

                <% if (!error) { %>


                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#Id</th>
                                <th scope="col">Código del Producto</th>
                                <th scope="col">Producto</th>
                                <th scope="col">NIT Proveedor</th>
                                <th scope="col">Precio de Compra</th>
                                <th scope="col">IVA del producto</th>
                                <th scope="col">Precio de Venta</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    <%= producto.id %>
                                </th>
                                <td>
                                    <%= producto.codigo_producto %>
                                </td>
                                <td>
                                    <%= producto.nombre_producto %>
                                </td>
                                <td>
                                    <%= producto.nitproveedor %>
                                </td>
                                <td>
                                    <%= producto.precio_compra %>
                                </td>
                                <td>
                                    <%= producto.ivacompra %>
                                </td>
                                <td>
                                    <%= producto.precio_venta %>
                                </td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>
    </div>

    <%- include('./template/footer'); %>