<%- include('./template/cabecera', {titulow:'Detalle Cliente'}); %>

<<<<<<< HEAD
    <h1 align="center">Detalle Clientes</h1>

    <div class="container">
=======
    <br>
    <h1 align="center">Editar Clientes</h1>
    <br>

    <div class="container" style="width: 600px;">

>>>>>>> 8d231af (archivos con front)
        <% if (error) { %>
            <p>
                <%= mensaje %>
            </p>
<<<<<<< HEAD
           
            <% } %>
            <br>
            <a href="/clientes" class="btn btn-dark btn-block">Volver a Clientes</a>
            
                <% if (!error) { %>
                    <form id="formularioEditar" data-id="<%= cliente.id %>">
                        <input type="text" class="form-control my-2" name="cedula_cliente" value="<%= cliente.cedula_cliente %>" id="cedulaInput" required>
                        <input type="text" class="form-control my-2" name="nombre_cliente" value="<%= cliente.nombre_cliente %>" id="nombreInput" required>
                        <input type="text" class="form-control my-2" name="direccion_cliente" value="<%= cliente.direccion_cliente %>" id="direccionInput" required>
                        <input type="text" class="form-control my-2" name="email_cliente" value="<%= cliente.email_cliente %>" id="emailInput" required>
                        <input type="text" class="form-control my-2" name="telefono_cliente" value="<%= cliente.telefono_cliente %>" id="telefonoInput" required>
                        <br>
                        <button type="submit" class="btn btn-warning" id="formularioEditar">Editar Cliente</button>
                    </form>
                    <hr>
                    <button class="btn btn-danger btn-sm" id='btnEliminar'>
                         Borrar Cliente               
                    </button>

                    <% } %>
    </div>

    <%- include('./template/footer'); %>
    <script>
        //aqui capturamos lo que trae el boton para eliminar
        const btnEliminar = document.querySelector('btnEliminar')
        btnEliminar.addEventListener('click', async()=>{
            console.log('haz dado un clic en eliminar')
            const id = btnEliminar.dataset.id
            console.log('id'. id)
            try {
                const data = await fetch(`/clientes/${id}`,{
                    method : 'delete'
                })
                const res = await data.json()
                if(res.estado){
                    window.location.href = '/clientes'
                }else{
                    console.log(res)
                }
            } catch (error) {
                console.log(error)
            }
        })



        //codigo para editar
        const formularioEditar = document-addEventListener("#formularioEditar")
        formularioEditar.addEventListener('submit', async(e) =>{
            e.preventDefault()
            console.log('Submint editar')
            const cedula = formularioEditar.elements['cedula'].value
            const nombre = document.querySelector('#nombreInput').value
            const direccion = document.querySelector('#direccionInput').value
            const email = document.querySelector('#emailInput').value
            const telefono = document.querySelector('#telefonoInput').value
            const id = formularioEditar.dataselt-id
            console.log(cedula, nombre, direccion, email, telefono,id)

            try {
                const data = await fetch()
            } catch (error) {
                
            }
        })
    </script>
=======
            <a href="/clientes" class="btn btn-dark btn-block">Volver a Clientes</a>
            <% } %>

                <% if (!error) { %>
                    <form id="formularioEditar" data-id="<%= cliente.id  %>" >
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="cedulaInput" placeholder="Cedula Cliente"
                                name="cedula" value="<%= cliente.cedula_cliente %> " required>
                            <label for="cedulaInput">Cedula Cliente</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="nombreInput" placeholder="Nombre Cliente"
                                name="nombre" value="<%= cliente.nombre_cliente %> " required>
                            <label for="nombreInput">Nombre Cliente</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="direccionInput" placeholder="Dirección Cliente"
                                name="direccion" value="<%= cliente.direccion_cliente %> " required>
                            <label for="direccionInput">Dirección Cliente</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="emailInput" placeholder="Correo Cliente"
                                name="correo" value="<%= cliente.email_cliente %> " required>
                            <label for="emailInput">Correo Cliente</label>
                        </div>
                        <div class="form-floating mt-3 mb-3">
                            <input type="text" class="form-control" id="celInput" placeholder="Celular Cliente"
                                name="telefono" value="<%= cliente.telefono_cliente %> " required>
                            <label for="celInput">Celular Cliente</label>
                        </div>
                        <div>
                            <button type="submit" title="Actualizar Cliente" class="btn btn-outline-success btn-block">Actualizar <i class="fas fa-user-check"></i></button>
                        </div>
                    </form>
                    <hr style="color: red; height:3px;">
                    <div align="center">
                        <a href="/clientes" class="btn btn-dark btn-block">Volver a Clientes</a>
                        <button type="submit" title="Eliminar Cliente" class="btn btn-outline-danger btn-block" id="btnEliminar" data-id="<%= cliente.id  %>">Eliminar <i class="fas fa-trash"></i></button>
                       <!--  <button class="btn btn-danger btn-block" id="btnEliminar" data-id="<%= //cliente.id  %>">Eliminar</button> -->
                    </div>
                                
                    

                    <% } %>

    </div>

    <%- include('./template/footer'); %>
        
        <script>
            //Aqui se captrua lo que trae el botón eliminar a traves del id="btnEliminar"
            const btnEliminar = document.querySelector('#btnEliminar')
            btnEliminar.addEventListener('click', async () => {
                console.log('Haz dado un click')
                const id = btnEliminar.dataset.id //Aquí estamos capturando el parametro que estamos pasando a treaves de un atributo en el botón eliminar
                console.log('id', id)//Aquí nos pinta en consola de navegador el valor del id
                try {
                    const data = await fetch(`/clientes/${id}`, {
                        method: 'delete'
                    })
                    const res = await data.json()
                    //console.log(res)
                    if (res.estado) {
                        window.location.href = '/clientes'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
            //  Código de Editar   
            const formularioEditar = document.querySelector('#formularioEditar')            
            formularioEditar.addEventListener('submit', async(e)=>{
                e.preventDefault()
                //console.log('ya dio submit')
                const cedula_cliente = formularioEditar.elements['cedula'].value
                const direccion_cliente = formularioEditar.elements['direccion'].value
                const email_cliente = formularioEditar.elements['correo'].value
                const telefono_cliente = formularioEditar.elements['telefono'].value
                const nombre_cliente = formularioEditar.elements['nombre'].value
                const id =formularioEditar.dataset.id
                //console.log(cedula,direccion,correo,telefono,nombre,id)
                //console.log("Aqui vamos bien")
                try {
                    const data = await fetch(`/clientes/${id}`, {
                        method :'put',
                        headers : {
                            'Content-Type' : 'application/json'
                        },
                        body : JSON.stringify({cedula_cliente, direccion_cliente, email_cliente, telefono_cliente, nombre_cliente})
                    })
                    const res = await data.json()
                    if (res.estado) {
                        window.location.href = '/clientes'
                    } else {
                        console.log(res)
                    }
                } catch (error) {
                    console.log(error)
                }
            })
        </script>

>>>>>>> 8d231af (archivos con front)
