<%- include('./template/cabecera', {titulow: "Ventas" }); %>

    <br>
    <h1 align="center" class="text-primary">Ventas de cliente</h1>
    <br>

    <div class="container">
        
        <table class="table table-hover shadow" style="border-collapse: separate;">

            <thead>
                <tr align="center" class="table-active">
                    
                    <th scope="col">Cedula Cliente</th>
                    <th scope="col">Codigo Venta</th>
                    <th scope="col">Detalle Venta</th>
                    <th scope="col">IVA Venta</th>
                    <th scope="col">Total Venta</th>
                    <th scope="col">Valor Venta</th>
                    
                </tr>
            </thead>

            <tbody>
                                
                <% if (arrayDBloc.length> 0) { %>
                    <% arrayDBloc.forEach(VentaC=> {%>
                        <tr align="center">
                            
                            <td>
                                <%= VentaC.cedula_cliente %>
                            </td>
                            <td>
                                <%= VentaC.codigo_venta %>
                            </td>
                            <td>
                                <button type="button" title="Detalle Venta" class="btn btn-outline-primary"><a href="/reportes/Venta/<%= VentaC.detalle_venta%>" style="color: #12bef3;"><i class="fas fa-eye"></i></a></button>
                                <%= VentaC.detalle_venta %>
                            </td>
                            <td>
                                <%= VentaC.ivaventa %>
                            </td>
                            <td>
                                <%= VentaC.total_venta %>
                            </td>
                            <td>
                                <%= VentaC.valor_venta %>
                            </td>
                            
                            
                        </tr>

                        <% }) %>
                            <% }else{ %><tr><th collspan="5">Sin ventas registradas</th></tr></tbody></table><%} %>
            </tbody>
        </table>
        <a href="/reportes/reporteVentas" class="btn btn-success btn-sm">Volver a Reportes</a>
    </div>

    

    <%- include('./template/footer'); %>