<%- include('./template/cabecera', {titulow: "Ventas" }); %>

    <br><br>
    <h1 align="center" class="text-muted"><%= titulo%></h1>
    <br><br>
    <div class="container">
        <table class="table">

            <thead>
                <tr>
                    <th scope="col">cedula_cliente</th>
                    <th scope="col">codigo_venta</th>
                    <th scope="col">detalle_venta</th>
                    <th scope="col">valor_venta</th>
                    <th scope="col">iva_venta</th>
                    <th scope="col">total_venta</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>

            <tbody>
                <%/* aqui se debe direccionar a la BD de mongo para iterar y traer los datos de los 
                productos. Se deja el ejemplo de clientes.ejs para ser modificado cuando veamos la conexion a Mongo*/%>

                
                        <tr>
                            <th scope="row">
                                <%= 123456 %> <%/* se debe direccionar al dato codigo_producto como el ejemplo clientes*/  %> 
                            </th>
                            <td>
                                <%= 1 %> 
                            </td>
                            <td>@mdo
                                <%= "link para ver detalle" %></td>
                            <td>
                                <%= 10000 %> 
                            </td>
                            <td>
                                <%= 1900 %> 
                            </td>
                            <td>
                                <%= 11900 %>    
                            </td>
                            <td>@mdo</td>
                        </tr>

                        
            </tbody>
        </table>
    </div>




    <%- include('./template/footer'); %>